---
layout: default
title: 文章分类
---

<div class="page-categories">
    <ul class="list-group">
    {% for cat in site.categories %}
    
    {% case cat[0] %} 
    {% when 'writeups' %} 
    {% assign categoryTitle = '随便写写' %} 
    {% when 'publishing' %} 
    {% assign categoryTitle = '出版业态' %} 
    {% when 'edu' %} 
    {% assign categoryTitle = '数字教育' %}     
    {% else %} 
    {% assign categoryTitle = '英语好玩' %} 
    {% endcase %}
    
    <li class="list-group-item">
        <a href="#{{ cat[0] }}-ref" class="category-heading" title="分类:{{ cat[0] }}" >{{ categoryTitle }}</a>
        <span class="badge">{{ cat[1].size }}</span>        
    </li>
    {% endfor %}
    </ul>
</div>
<hr>

<div class="page-blank">
{% for cat in site.categories %}

    {% case cat[0] %} 
    {% when 'writeups' %} 
    {% assign categoryTitle = '随便写写' %} 
    {% when 'publishing' %} 
    {% assign categoryTitle = '出版业态' %} 
    {% when 'edu' %} 
    {% assign categoryTitle = '数字教育' %}     
    {% else %} 
    {% assign categoryTitle = '英语好玩' %} 
    {% endcase %}

    <div class="page-list">
        <h2 id="{{ categoryTitle }}-ref">{{ categoryTitle }}</h3>
        <ul id="blog-posts" class="posts">
            {% for post in cat[1] %}
            <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>

<hr>
<div>
  <h2 id="edu-ref"><i class="icon-book"></i> 数字教育</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.categories.edu %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h2 id="publishing-ref"><i class="icon-book"></i> 出版业态</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.categories.publishing %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
    <h2 id="english-ref"><i class="icon-beaker"></i> 英语好玩</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.categories.english %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
    <h2 id="writeups-ref"><i class="icon-pencil"></i> 随便写写</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.categories.writeups %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
