---
layout: default
title: 文章标签
---

<article class="main-article main-article-page">
<div class="violet-post" id="page-tagcloud">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}-ref" rel={{ tag[1].size }} title="标签:{{ tag[0] }}">{{ tag[0] }}<span>{{ tag[1].size }}</span></a>
    {% endfor %}
</div>
<div class="violet-post">
{% for tag in site.tags %}
    <div class="main-article-contant">
        <h3 id="{{ tag[0] }}-ref"> {{ tag[0] }}</h3>
        <ul class="article-year fn-clear">
        {% for post in tag[1] %}
            <li>
                <span>{{ post.date | date_to_utc | date: '%Y-%m-%d' }}</span>
                <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
</article>

