<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>A brief bio or something witty.</p>
  <p>
    Edit me in <code>_includes/sidebar.html</code>
  </p>
  <hr/>
  <div>
  最近看过：
    <script type="text/javascript" src="http://www.douban.com/service/badge/aipin/?selection=latest&amp;picsize=small&amp;hideself=on&amp;show=collection&amp;n=6&amp;hidelogo=on&amp;cat=movie%7Cbook&amp;columns=2"></script>
  </div>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
